{% extends "admin/login.html" %}
{% load socialaccount %}

{% block title %}Admin Login{% endblock %}
{% block extrahead %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">

<style>

input{
    display: block;
    height: 30px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
.submit-input{
    width: 250px;
    height: 50px;
    background-color: #ffffff;
    margin: auto;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.google-text{
    color: white;
    font-weight: bold;
}
.social{
  margin-top: 30px;
  display: flex;
}
.social div{
  width: 150px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: cadetblue;
  color: green;
  text-align: center;
    margin: auto;
}
.social div:hover{
  background-color: lightblue;
}
.social i{
  margin-right: 4px;
}

</style>
{% endblock %}
{% block content %}
<div class="custom-login">
  <h1>Welcome to the Custom Admin Login</h1>
  <form method="post" action="{% url 'admin:login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input class='submit-input' type="submit" value="Login">
        <div class="social">
          <div class="go"><a href="{% provider_login_url 'google'%}?next=/">
              <i class="fab fa-google"></i><span class="google-text">Google</span></a>
          </div>
        </div>
  </form>
</div>
{% endblock %}
